<div class="grid_12">

<p>
  <%= link_to 'Login with Twitter', "/auth/twitter" %>
  and then guess of the following published the headline.
</p>



<h2>Sources</h2>

<table>
  <tr>
    <th>Source</th>
    <th>Headlines</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= link_to image_tag(source.logo_url), source %></td>
    <td><%= source.headlines.count %></td>
    <% if admin_user %>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path if admin_user %>
</div>